
 /*S C R E E N*/


#gameScreen button{
    position: absolute;
}

.screenType{
    position: absolute;
}


.screenType h1, h2, p{
    color: #fff;
}


#gameScreen{
    background-color: #000;
    position: relative;
}



/*P L A Y E R S*/



#fleet{
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
}

#launcher{
    position: absolute;
    width: 80px;
    height: 20px;
    left: 0px;
    top: 0px;
    background-color: #00FF00;
}
.invader{
    position: absolute;
    width: 40px;
    height: 30px;
    left: 0px;
    top: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}


.missile{
    position: absolute;
    width: 3px;
    height: 10px;
    left: 0px;
    top: 0px;
    background-color: #fff;
    z-index: 100;
}


.typeOne.first{
    background-image: url('/images/invader1a.png');
}

.typeOne.second{
    background-image: url('/images/invader1b.png');
}


.invader.explosion{
    background-image: url('/images/explosionWhite.png');
}

#launcher.explosion{
    background-image: url('/images/explosionGreen.png');
}

/*There are three more types of invader that need to be written*/



.bunker{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 0px;
    top: 0px;
}


.bunkerBlock{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;
    background-color: #00FF00;
}